.scroller {
  max-width: 100%;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  /* -webkit-mask: linear-gradient(
    90deg,
    transparent,
    rgb(91, 91, 91) 5%,
    rgb(94, 92, 92) 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 5%, white 80%, transparent); */
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 80s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 60s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

/* general styles */

:root {
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-primary-100: hsl(205, 15%, 58%);
  --clr-primary-400: hsl(215, 25%, 27%);
  --clr-primary-800: hsl(217, 33%, 17%);
  --clr-primary-900: hsl(218, 33%, 9%);
}

.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.tag-list li {
  padding: 5px;
  background-image: linear-gradient(to right, #232425, #4b4454);
  color: white;
  border-radius: 5px;
  font-size: 14px;
  min-width: 150px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.tag-list li:hover {
  /* Hover gradient background */
  background-image: linear-gradient(to right, #232425, #4b4454);
  color: white;
}

.test {
  background: red !important;
}
.scroller[data-animated="true"]:hover .scroller__inner {
  animation-play-state: paused;
}
.scroller__inner img {
  width: 200px;
  height: auto;
  border-radius: 10px;
}
