.card-container {
  display: flex;
  justify-content: center;
  max-width: 1200px; /* Adjust max-width as needed */
  margin: 0 auto;
}

.scrolling-wrapper {
  display: flex;
  white-space: nowrap;
  overflow-x: hidden;
  animation: scroll 20s linear infinite; /* Adjust animation duration as needed */
}

.card {
  flex: 0 0 auto;
  margin-right: 20px; /* Adjust spacing between cards as needed */
}
.sort__first__season__budget {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  margin: 15px 0px;
}
.sort__first__season__budget aside {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-around;
  width: 47%;
  height: 100px;
  border-radius: 15px;
  padding: 15px;
  background-color: aliceblue;
  box-shadow: rgba(0, 0, 0, 0.1) 10px 10px 10px -4px,
    rgba(0, 0, 0, 0.06) 10px 12px 14px -1px;
}
.sort__first__season__budget aside > p:first-child {
  font-size: 35px;
}
.sort__first__season__budget aside > p:last-child {
  font-size: 25px;
}
.sort__first__season__budget aside > p:first-child::after {
  content: "....";
  position: absolute;
  top: 0;
  right: 0;
  font-size: 18px;
  padding-right: 20px;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
